<div data-color-theme-switch>
  <span role="button" data-color-theme-btn>Theme</span>
  <ul data-color-theme-dropdown hidden>
    <li>
      <input type="radio" tabindex="-1" name="color_theme" value="default" id="color_theme_default" checked>
      <label for="color_theme_default">Auto</label>
    </li>
    <li>
      <input type="radio" tabindex="-1" name="color_theme" value="light" id="color_theme_light">
      <label for="color_theme_light">Light</label>
    </li>
    <li>
      <input type="radio" tabindex="-1" name="color_theme" value="dark" id="color_theme_dark">
      <label for="color_theme_dark">Dark</label>
    </li>
  </ul>
</div>
