[hidden] {
  display: none !important;
}

html {
  max-width: 40rem;
  margin: 0 auto;
}

.portrait {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 0 1.2em -0.6em;
}

ul.links {
  margin: 0;
  padding: 0;
  list-style-type: none;

  & li {
    display: inline;
  }

  & li:not(:last-child)::after {
    content: " •";
    opacity: .25;
  }

  & a:hover {
    opacity: .75;
  }
}


a[href*="linkedin.com"] {
  color: #006192;
}

a[href*="github.com"] {
  color: #4078c0;
}

a[href*="instagram.com"] {
  color: #c13584;
}

a[href*="facebook.com"] {
  color: #1877f2;
}

a[href*="strava.com"] {
  color: #fc4c02;
}

a[href*="t.me"] {
  color: #0088cc;
}
