article [data-prop=content] {
  position: relative;
  margin-bottom: 5rem;

// Limited-width elements

  & h3, & p, & ul, & ol, & figcaption {
    width: 75%;
    margin-bottom: 1.5rem;

    @media (--mobile) {
      width: auto;
    }
  }

// Lists

  & ul, & ol {
    padding-left: 2rem;

    & li {
      margin-bottom: 1rem;
    }
  }

  & ul li::before {
    content: "—";
    color: rgb(var(--text-color-base) / .5);
    position: absolute;
    margin-left: -1.33em;
  }

  & ol {
    list-style: none;
    counter-reset: list-counter;

    & li {
      counter-increment: list-counter;

      &::before {
        content: counter(list-counter) ".";
        position: absolute;
        margin: .1em 0 0 -1.3em;
        font-family: var(--font-family-accent);
        font-style: italic;
        font-size: .85em;
        color: rgb(var(--text-color-base) / .6);
      }
    }
  }

// Headings

  & h2, & h3 {
    font-weight: 900;
    line-height: 1;
    color: rgb(var(--text-color-base) / .85);

    & abbr {
      letter-spacing: .1em;
    }

    & a[href^="#"] {
      font-family: var(--font-family-mono);
      color: rgb(var(--text-color-base) / .15);
      text-decoration: none;
      font-size: .65em;
      font-weight: 600;
      position: relative;
      top: -.15em;

      &:hover {
        opacity: .9;
        color: var(--link-color);
      }
    }
  }

  & h2 {
    font-size: 2em;
    margin: 3rem 0 1.5rem 0;
  }

  & h3 {
    font-size: 1.5em;
    margin: 3rem 0 1.5rem 0;
  }

// Images

  & figure {
    margin: 2rem 0;

    & picture, & video {
      border-radius: var(--roundness-radius);
      overflow: hidden;
    }

    &[data-bordered=true] picture,
    &[data-bordered=true] video {
      border: 1px solid rgb(var(--text-color-base) / .1);
    }
  }

  & figcaption {
    margin-top: 1rem;
    color: rgb(var(--text-color-base) / .8);

    & a[href^="#"] {
      white-space: nowrap;
      color: rgb(var(--text-color-base) / .6);
      text-decoration-color: var(--text-color);
      text-decoration-style: dotted;

      &:hover {
        color: var(--link-hover-color);
        text-decoration-color: var(--link-hover-color);
      }

      & i {
        font-family: var(--font-family-accent);
        font-weight: normal;
        font-style: italic;
      }
    }
  }

// Asides

  & aside {
    position: absolute;
    display: block;
    padding: 0 var(--gutter);
    font-size: .8em;
    width: 20%;
    right: 0;
    transform: translateY(-100%);
    margin-top: -1.75rem;

    @media (--mobile) {
      position: static;
      padding: 0;
      width: auto;
      transform: none;
      margin: -1rem 0 1.5rem 0;
      font-size: 1em;
      color: rgb(var(--text-color-base) / .6);

      &::before {
        content: "//";
        font-family: var(--font-family-mono);
        font-size: .85em;
        margin-right: .25em;
      }
    }
  }

// Inlines

  & strong, & b {
    font-weight: 900;
    color: rgb(var(--text-color-base) / .85);
  }

  & abbr {
    text-decoration: none;
    font-size: .8em;
    letter-spacing: .15em;
    margin-right: -.15em;
  }

  & code {
    font-family: var(--font-family-mono);
    white-space: nowrap;
    padding: .1em .5em;
    background-color: rgb(var(--text-color-base) / .08);
    border-radius: 3px;
    font-size: .9em;
    color: orangered;
  }
}

article footer {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 10rem;
  color: rgb(var(--text-color-base) / .75);
  font-size: .8em;

  & picture {
    mix-blend-mode: multiply;
    opacity: .8;

    & img {
      margin: 0 auto;
    }
  }
}
