[data-page-article] {
  --site-header-text-opacity: .6;

  & [data-nav-header] {
    position: absolute;
    width: 100%;
    z-index: 99;
  }
}

article {
  & header {
    background-color: var(--cover-bg-color, #666);
    color: var(--text-color);
    padding-top: 4rem;
    margin-bottom: 2rem;

    & h1 {
      font-size: 4em;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 1rem;

      & i {
        font-family: var(--font-family-accent);
        font-weight: normal;
        opacity: .8;
        font-size: .9em;

        @media (--mobile) {
          display: block;
          line-height: 1;
        }
      }
    }

    & [data-prop=subtitle] {
      font-size: 1.5em;

      @media (--mobile) {
        line-height: 1.2;
      }
    }

    & [data-prop=date-published] {
      opacity: .8;
      font-size: .8em;
      white-space: nowrap;
    }

    & [data-article-cover] {
      position: relative;
      padding: 1rem 0;

      @media (--mobile) {
        padding: .5rem 0;
      }
    }

    & picture {
      position: relative;
      min-height: var(--cover-height);
    }

    & img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: auto;
      filter: var(--cover-filter);
      mix-blend-mode: var(--cover-mix-blend-mode);
      mask-image: linear-gradient(var(--cover-gradient-angle), black, ease-in-out, transparent),
      url("noise.svg");
    }
  }

  & [data-prop=lead] {
    font-family: var(--font-family-accent);
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 3rem;
    font-style: italic;
    text-indent: calc(var(--gutter) * -1);

    @media (--mobile) {
      line-height: 1;
      text-indent: 0;
    }
  }
}
