html {
  font-size: 100%;
  background: var(--bg-color);
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: common-ligatures contextual;
  min-height: 100%;
}

[hidden] {
  display: none !important;
}

:focus {
  outline: thin dotted var(--text-color);
}

a {
  text-decoration-style: wavy;
  text-decoration-skip-ink: all;
  text-underline-offset: .25em;
  border-radius: 3px;

  &:link {
    color: var(--link-color);
  }

  &:visited {
    color: var(--link-visited-color);
  }

  &:hover {
    color: var(--link-hover-color);
  }
}
