[data-page-home] {
  & header {
    margin: 2rem 0 3rem 0;
    position: relative;

    & h1 {
      font-size: 4em;
      font-weight: 900;
      line-height: 1;
      text-indent: 60px;
      color: rgb(var(--text-color-base) / .9);
      margin-bottom: 1rem;
      position: relative;
      left: -.1em;
    }

    & p[data-prop=occupation] {
      font-size: 1.5em;
      line-height: 1;
    }

    & p[data-prop=location] {
      color: rgb(var(--text-color-base) / .75);
    }

    & picture {
      position: absolute;
      width: var(--picture-size);
      height: var(--picture-size);
      top: .8ex;
      left: -5px;
      border-radius: 50%;
      overflow: hidden;

      & img {
        background: rgb(var(--text-color-base) / .1);
      }
    }
  }

  & [data-color-theme-switch] {
    opacity: .75;
    font-weight: 600;

    @media (--mobile) {
      display: none;
    }
  }

  & [data-color-theme-dropdown] {
    background: rgb(0 0 0 / .1);
  }

  & p {
    margin-bottom: .5rem;
  }

  & article ul {
    margin: 3rem 0;
    font-size: 1.2em;

    @media (--mobile) {
      margin: 2rem 0;
    }

    & li {
      display: inline;
      position: relative;
      padding-right: 1.5rem;
      white-space: nowrap;
      color: rgb(var(--text-color-base) / .5);
    }

    & li:not(:last-child)::after {
      content: "/";
      font-weight: 200;
      position: absolute;
      display: block;
      right: .75rem;
      top: -.25rem;
    }

    & a {
      text-decoration: none;
      font-weight: 600;

      &:hover {
        opacity: .75;
      }
    }

    & i {
      font-size: .8em;
      position: relative;
      top: -.25rem;
    }
  }

  & [data-social-links] a {
    &[href*="linkedin.com"] {
      color: #006192;
    }

    &[href*="github.com"] {
      color: #4078c0;
    }

    &[href*="instagram.com"] {
      color: #c13584;
    }

    &[href*="facebook.com"] {
      color: #1877f2;
    }

    &[href*="strava.com"] {
      color: #fc4c02;
    }

    &[href*="t.me"] {
      color: #0088cc;
    }
  }

  & footer[role=contentinfo] {
    padding-left: 0;
    padding-right: 0;
  }
}
