:root {
  --site-header-text-opacity: .75;
}

[data-nav-header] {
  font-weight: 600;
  margin-bottom: 1rem;
  user-select: none;

  & nav {
    font-size: 0;
  }

  & a, & b {
    position: relative;
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--text-color);
  }

  & a {
    text-decoration: none;
    opacity: var(--site-header-text-opacity);

    &:not(:last-child)::after {
      content: "/";
      position: absolute;
      font-weight: 200;
      margin-left: .8rem;
    }

    &:hover::after {
      opacity: .75;
    }

    &:hover {
      opacity: 1;
    }

    &[rel=home] {
      font-weight: 900;
      margin-left: -1rem;
    }
  }

  & b {
    font-weight: inherit;
  }
}

[data-color-theme-switch] {
  color: var(--text-color);
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
}

[data-color-theme-btn] {
  opacity: var(--site-header-text-opacity);
  display: block;
  padding: 1rem 1rem 1rem 1.4rem;
  cursor: pointer;
  text-decoration: underline dotted;
  text-decoration-skip-ink: all;
  text-underline-offset: .25em;

  &::before {
    content: "✹";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 19px;
  }

  &:hover, &[data-active=true] {
    opacity: 1;

    &::before {
      background: rgb(var(--text-color-base) / .2);
    }
  }
}

[data-color-theme-dropdown] {
  position: absolute;
  right: 1rem;
  margin-top: -.75rem;
  border-radius: var(--roundness-radius);
  backdrop-filter: blur(10px) brightness(.8);

  & li {
    white-space: nowrap;
  }

  & input {
    opacity: 0;
    position: absolute;
  }

  & label {
    display: block;
    position: relative;
    cursor: pointer;
    padding: .5rem 1.5rem .5rem 28px;

    &:hover {
      background-color: rgb(0 0 0 / .1);
    }
  }

  & input:checked + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 11px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--text-color);
    opacity: .75;
  }

  & input:not(:checked) + label:active {
    color: var(--link-hover-color);
  }
}
