footer[role=contentinfo] {
  margin-top: 2rem;
  margin-bottom: 2rem;

  & [data-prop=sourcecode] {
    margin-bottom: .5rem;
  }

  & small {
    --text-color: rgb(var(--text-color-base) / .75);
    --link-hover-color: rgb(var(--text-color-base) / .9);
    font-size: .8em;

    &:not(:last-child) {
      &::after {
        content: " •";
        color: var(--text-color);
        opacity: .5;
      }
    }

    & a:link, & a:visited {
      color: var(--text-color);

      &::before {
        margin-top: .2rem;
      }
    }
  }
}
