{% extends "base.html" %}
{% set planned = ['My experience with self-hosted services'] %}

{% block header %}{{ nav_header() }}{% endblock header %}

{% block content %}
<h1 data-visually-hidden="true">All articles</h1>
<ul data-content-cards-container>
  {% for article in articles %}
  {% set cover = remap(article.cover) %}
  {% set style = {'card-bg-color': cover.bg_color, 'card-text-color': cover.text_color} %}
  <li data-content-card data-published>
    <article data-content-card-body {{ style|cssvars }}>
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <time datetime="{{ article.date|strftime('%Y-%m-%d') }}">{{ article.date|strftime('%B %-d, %Y') }}</time>
    </article>
  </li>
  {% endfor %}
  {% for article in planned %}
  <li data-content-card>
    <article data-content-card-body>
      <h2>{{ article }}</h2>
      <time>Coming soon</time>
    </article>
  </li>
  {% endfor %}
</ul>
{% endblock %}
