{% extends "base.html" %}

{% set body_attrs = ['data-page-article'] %}
{% set article_attrs = {'data-slug': article.slug} %}

{% set cover = article.cover|remap %}
{% set header_styles = {
  'cover-bg-color': cover.bg_color,
  'text-color': cover.text_color,
} %}
{% set cover_height = cover.image_height or 300 %}
{% set cover_picture = picture(
  cover.image,
  height=cover_height, ratio=1.0, loading='eager',
  gravity='so', rt='fill-down'
) %}
{% set cover_styles = {
  'cover-height': cover_height|string + 'px',
  'cover-filter': cover.filter or 'none',
  'cover-mix-blend-mode': cover.mix_blend_mode or 'normal',
  'cover-gradient-angle': (cover.gradient_angle or 0)|string + 'deg',
} %}

{% set footer = article.footer|remap %}
{% set footer_picture = picture(
  cover.image,
  height=100, ratio=1.0, loading='lazy',
  gravity='so', rt='fill-down'
) %}

{% block scripts %}
<script type="application/ld+json">{{ schema(article)|tojson }}</script>
{% endblock %}

{% block header %}{{ nav_header(text_color=cover.text_color) }}{% endblock %}

{% block content %}
  <article {{ article_attrs|xmlattr }}>
    <header {{ header_styles|cssvars }}>
      <div data-container>
        <h1 data-prop="title">
          {{ article.title|tpgr }}{% if article.title_label %}: <i>{{ article.title_label|tpgr }}</i>{% endif %}
        </h1>
        {% if article.subtitle %}<p data-prop="subtitle">{{ article.subtitle|tpgr }}</p>{% endif %}
        <time datetime="{{ article.date|strftime('%Y-%m-%d') }}" data-prop="date-published">
          {{ article.date|strftime('%B %-d, %Y') }}
        </time>
      </div>
      <div data-article-cover {{ cover_styles|cssvars }}>{{ cover_picture }}</div>
    </header>
    {% if article.lead %}<p data-prop="lead" data-container>{{ article.lead|tpgr }}</p>{% endif %}
    <div data-prop="content" data-container>{{ article.content }}</div>
    <footer data-container>
      {{ footer_picture }}
      <p>{{ footer.text|tpgr }}</p>
    </footer>
  </article>
{% endblock %}

{% block complementary %}
{% block comments %}
{% if COMMENTS_REPO and article.comments %}
  <section data-container="comments" id="comments">
    <h2>Comments</h2>
    <script src="https://utteranc.es/client.js"
            repo="{{ COMMENTS_REPO }}"
            issue-term="pathname"
            theme="{{ COMMENTS_COLOR_THEME }}"
            crossorigin="anonymous"
            async
    ></script>
  </section>
{% endif %}
{% endblock %}
{% endblock %}
