<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="max-image-preview:large">
  {{ pagemeta() }}
  <link rel="preload" href="{{ static('style.css') }}" as="style">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="dns-prefetch" href="https://img.arsgab.io">
  <link rel="dns-prefetch" href="https://stat.arsgab.io">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://img.arsgab.io" crossorigin>
  <link rel="icon" href="{{ static('favicon.ico') }}" sizes="any">
  <link rel="apple-touch-icon" href="{{ static('apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ static('manifest.webmanifest') }}">
  <link rel="stylesheet" href="{{ static('style.css') }}">
  <script>window.addEventListener('load', () => {
    document.documentElement.dataset.loaded = 'true';
    document.documentElement.dataset.statEnabled = 'umami' in window ? 'true' : 'false';
  })</script>
{% if INLINE_SCRIPTS %}
  <script defer data-inline>{{ static_inline('scripts/*.js') }}</script>
{% else %}
  <script defer src="{{ static('script.js') }}"></script>
{% endif %}
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}

  {% block stats %}
  {% if STATS_WEBSITE_ID %}
  <script async src="{{ STATS_SCRIPTS_URL }}" data-website-id="{{ STATS_WEBSITE_ID }}"
          data-do-not-track="true"></script>
  {% endif %}
  {% endblock stats %}

</head>
<body {{ (body_attrs or ())|join(' ') }}>

{% block header %}{% endblock header %}

{% block main %}
  <main>
    {% block content %}{% endblock %}
  </main>
{% endblock main %}

{% block footer %}
  <footer role="contentinfo" data-container>
    {% block copyright %}
      <small data-prop="copyright">© {{ AUTHOR }}, {{ CURRENT_YEAR }}</small>
    {% endblock %}
  </footer>
{% endblock %}

</body>
</html>
