{% extends "base.html" %}

{% set body_attrs = ['data-container', 'data-page-home'] %}

{% block scripts %}
<script type="application/ld+json">{{ MAIN_JSON_LD|tojson }}</script>
{% endblock %}

{% block header %}
<header role="banner">
  <h1>Arseny<br>Gabdullin</h1>
  <figure class="portrait">
    <img src="{{ static('me.webp') }}" width="100" height="100" alt="Arseny's photo">
  </figure>
  <p data-prop="occupation">Python developer & software architect</p>
  <p data-prop="location">Based in Belgrade, Serbia</p>
</header>
{% include "partials/color-theme-switch.html" %}
{% endblock header %}

{% block content %}
<article>
  <p data-prop="bio">Running, cycling, traveling — and <a href="https://photos.arsgab.io"
                                                        data-umami-event="click-photosite">making photos</a> of it.</p>
  <p>Drop me a line <small>→</small> <a href="mailto:{{ AUTHOR_EMAIL }}">{{ AUTHOR_EMAIL }}</a></p>
  {% include "partials/social-links.html" %}
</article>
{% endblock %}

{% block footer_copyright %}
  <small data-prop="copyright">© Suvlehim Takac d.o.o. Beograd, Srbija</small>
{% endblock %}

{% block footer_contact %}{% endblock %}
