{% extends "base.html" %}

{% set body_attrs = ['data-container', 'data-page-home'] %}
{% set picture_size = 60 %}
{% set portrait = picture(
  'me.jpeg',
  width=picture_size, height=picture_size, ratio=1.0, loading='eager'
) %}
{% set header_styles = {'picture-size': picture_size|string + 'px'} %}

{% block scripts %}
<script type="application/ld+json">{% include "schema.json" %}</script>
{% endblock %}

{% block header %}
<header role="banner" {{ header_styles|cssvars }}>
  <h1>Arseny<br>Gabdullin</h1>
  <p data-prop="occupation">Python developer & software architect</p>
  <p data-prop="location">Based in Belgrade, Serbia</p>
  {{ portrait }}
</header>
{% include "partials/color-theme-switch.html" %}
{% endblock header %}

{% block content %}
<article>
  <p data-prop="bio">
    Running, cycling, traveling — and
    <a href="https://photos.arsgab.io" data-umami-event="click-photosite">making photos</a> of it.
  </p>
  <p data-prop="contact">
    {{ mailto(text="Drop me a line", attrs={'data-umami-event': 'click-email-homepage'}) }}
  </p>
  {% include "partials/social-links.html" %}
</article>
{% endblock %}

{% block footer_copyright %}
  <small data-prop="copyright">© Suvlehim Takac d.o.o. Beograd, Srbija</small>
{% endblock %}

{% block footer_contact %}{% endblock %}
